# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Large or temporary data (optional)
# data/raw/
# *.csv

# Large / intermediate data
*.feather
data/*.csv
data/agg_*.csv